nav {
    height: 70px;
    margin-bottom: 50px;
}

.logo-title,
.icona-logo {
    font-size: 40px;
    color: #E2C78F;
}

.logo-title:hover {
    color: #E2C78F;
    -webkit-text-stroke: 0.2px #fff;
}

.link-nav-css {
    font-size: 20px;
    color: #E2C78F;
}

.link-nav-css:hover {
    color: white;
}

.custom-text:hover::before {
    content: "Ciao ";
    color: blue;
}



@media screen and (max-width: 768px) {

    /* navbar ciao user ed email all hover nascosti */
    .desktop-only-ciao-user {
        display: none;
    }
}